<?xml version="1.0" encoding="utf-8"?>
<config>
    <double name="gui_scale">0.69141161441802979</double>
    <rect name="window_position">
        <xmin>835.348206</xmin>
        <xmax>1111.91284</xmax>
        <ymin>196.984985</ymin>
        <ymax>512.960083</ymax>
    </rect>
    <bool name="drawHudIcon">1</bool>
    <bool name="allowAutoPortTargeting">1</bool>
    <bool name="excludeDockedPorts">1</bool>
    <bool name="showHUDIconWhileEva">1</bool>
    <bool name="alignmentFlipXAxis">0</bool>
    <bool name="alignmentFlipYAxis">0</bool>
    <bool name="translationFlipXAxis">0</bool>
    <bool name="translationFlipYAxis">0</bool>
    <bool name="rollFlipAxis">0</bool>
</config>