<?xml version="1.0" encoding="utf-8"?>
<config>
    <double name="gui_scale">0.69141161441802979</double>
    <rect name="window_position">
        <xmin>906.94342</xmin>
        <xmax>1183.50806</xmax>
        <ymin>272.907623</ymin>
        <ymax>588.88269</ymax>
    </rect>
    <bool name="drawHudIcon">1</bool>
    <bool name="allowAutoPortTargeting">1</bool>
    <bool name="excludeDockedPorts">1</bool>
    <bool name="showHUDIconWhileEva">1</bool>
    <bool name="alignmentFlipXAxis">0</bool>
    <bool name="alignmentFlipYAxis">0</bool>
    <bool name="translationFlipXAxis">0</bool>
    <bool name="translationFlipYAxis">0</bool>
    <bool name="rollFlipAxis">0</bool>
</config>