<?xml version="1.0" encoding="utf-8"?>
<config>
    <double name="gui_scale">0.80412280559539795</double>
    <rect name="window_position">
        <xmin>834.488098</xmin>
        <xmax>1156.13721</xmax>
        <ymin>203.949127</ymin>
        <ymax>571.433228</ymax>
    </rect>
    <bool name="drawHudIcon">1</bool>
    <bool name="allowAutoPortTargeting">1</bool>
    <bool name="excludeDockedPorts">1</bool>
    <bool name="showHUDIconWhileEva">0</bool>
    <bool name="alignmentFlipXAxis">0</bool>
    <bool name="alignmentFlipYAxis">0</bool>
    <bool name="translationFlipXAxis">0</bool>
    <bool name="translationFlipYAxis">0</bool>
    <bool name="rollFlipAxis">0</bool>
</config>