# blacklist all files
/*

# ... except git files
!.gitignore

# ... except a select few ksp files
!GameData/
!saves/Blorb Simulators
!saves/LunaMultiplayer
!Ships/
!thumbs/
!Screenshots/
!Parts/
!KSP.log
!thumbs/

# reignore Kerbal Engineer settings

GameData/KerbalEngineer/Settings/
