# blacklist all files
/*

# ... except git files
!.gitignore

# ... except a select few ksp files
!GameData/

# ... unless it's LMP settings
GameData/LunaMultiplayer/Data/settings*
# ... or Kerbal Engineer settings
GameData/KerbalEngineer/Settings/

# okay, back to unignoring certain files...
!saves/Blorb Simulators
!saves/LunaMultiplayer
!Ships/
!thumbs/
!Screenshots/
!Parts/
!KSP.log
!thumbs/
